.builderContainer {
  display: flex;
  margin-top: 30px;
}

.subcomponentContainer {
  width: 330px; /* width of color picker */
}

.chartContainer {
  padding-left: 20px;
  border-left: 1px solid gray;
  margin-left: 20px;
  flex-grow: 99;
}