@import '../css/variables.css';

.Widget {
	> .Metadata {
		padding: 2em 0 1em 0;
	}
}

.Contain {
	margin: 0 auto;
	width: var(--contain-width);
}

.CustomizeHelp {
  font-size: .9em;
  margin-bottom: 1em;
}
