:global(.nvtooltip) {
  align-items: center;
  display: flex;
  justify-content: center;
  pointer-events: all;

  @media (min-width: 1024px) {
    pointer-events: none;
  }

  button {
    padding-left: 0;
  }

  :global(.close-out) {
    border: none;

    @media (min-width: 1024px) {
      display: none;
    }
  }
}
