.errorMessageContent {
  margin: 0;

  p {
    margin: 0 ;
  }

  a {
    color: white;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

.container {
  position: relative;
}

.closeContainer {
  color: white;
  position: absolute;
  top: 12px;
  right: 12px;
  &:hover, &:focus {
    color: black;
  }
}
