@import '../../styles/palette.css';

.textarea {
  height: 200px;
  width: 100%;
  display: block;
}

.error {
  color: var(--color-red);
}

.success {
  color: var(--color-green);
}

.initial {
  color: var(--color-midgray);
}

.actionsContainer {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
}

.optionsContainer {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 20px;

  :global(.Select) {
    flex-grow: 99;
    margin-right: 10px;
  }
}

.dateFormatterContainer {
  width: auto;
  justify-content: flex-start;
  align-items: center;
  & > * {
    margin-right: 12px;
  }
}


.submitContainer {
  max-width: 15%;
}