@import '../../styles/layout';
@import '../../styles/palette';

.container {
  position: fixed;
  top: var(--header-height);
  bottom: 0;
  right: 0;
  width: 600px;
  background-color: white;
  padding: 15px;
  border-left: 2px solid var(--color-midgray);
}
