@import '../../styles/layout';
@import '../../styles/palette';
@import '../../styles/mixins';

.container {
  position: fixed;
  top: var(--header-height);
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  width: 600px;
  background-color: white;
  padding: 20px;
  border-left: 2px solid var(--color-midgray);
}

.closeHelp {
  color: var(--color-red);
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: .8em;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  @mixin iconSvg var(--color-red), color(var(--color-red) a(80%));
}